* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Comic Sans MS', sans-serif;
  background-color: #f4f1f8;
  color: #333;
  text-align: center;
  padding: 0;
  margin: 0;
}

#game-container {
  width: 90%;
  max-width: 900px;
  margin: 50px auto;
  background-color: #ffffff;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  background: linear-gradient(to bottom, #f0e0ff, #d0a7ff);
}

#header h1 {
  font-size: 36px;
  color: #ff66b2;
  margin-bottom: 20px;
  font-family: 'Comic Sans MS', sans-serif;
}

#score-board {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #5a2d82;
}

#game-area {
  width: 100%;
  height: 300px;
  position: relative;
  background-image: url('./Register\ -\ Login.gif');
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  overflow: hidden;
}

#message {
  font-size: 22px;
  color: #ff66b2;
  font-weight: bold;
  margin-top: 20px;
}

#certificate {
  margin-top: 30px;
  padding: 10px 20px;
  font-size: 26px;
  background-color: #14082e;
  color: #ff66b2;
  border-radius: 10px;
  font-weight: bold;
}

#play-again {
  margin-top: 30px;
  padding: 15px 30px;
  font-size: 18px;
  color: white;
  background-color: #ff66b2;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#play-again:hover {
  background-color: #ff3385;
}

.butterfly {
  width: 50px;
  height: 50px;
  position: absolute;
  cursor: pointer;
  border-radius: 50%;
  transition: all 0.5s ease;
}

.butterfly img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.bt button{
  margin-top: 10px;
  padding: 15px 30px;
  font-size: 18px;
  color: white;
  background-color: #ff66b2;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s;
  
}
.bt button:hover {
  background-color: #ff3385;
}
@keyframes fly {
  0% { transform: translateX(0) translateY(0); }
  50% { transform: translateX(100px) translateY(-50px); }
  100% { transform: translateX(0) translateY(0); }
}
